*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  width: 1100px;
  margin: 0 auto;
  font-family: 'Raleway', 'sans-serif';
}


img {
  width: 148px;
    height: 105px;
    left: 454px;
    gap: 0px;
    opacity: 0px;
  width: 100%;
  top:92px;
    left:478px;
    right:474px;
    bottom:92px;
  
  
  
}




h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
blockquote {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}
p {
  font-style: normal;
}

